{{> header title='ZipDoc' cssName='main'}}



<div class="zd-contents">
	<div class="main-top">
		<div class="top-img" style="background-image: url('/img/img_mainslide_full_01.jpg')">
			<div class="top-desc">
				<div class="desc-text">
					<div id="desc-clock"> <i class="fa fa-clock-o"></i>30초</div>
					<div id="desc-time">원하는 인테리어를 찾고
						견적을 신청하는데 걸리는 시간!</div>
					<div id="desc-apply" class="search-button" >무료비교견적신청</div>
				</div>
			</div>
			<div class="bar-circle">
				<div class="circle1 navi-circle"></div>
				<div class="circle2 navi-circle"></div>
			</div>

		</div>
	</div>

	<div class="select-house">
		<select class="form-control select-residence">
			<option value="1" selected>주거공간</option>
			<option value="2">상업공간</option>
			<option value="3">부분시공</option>
		</select>
		<select class="form-control select-detail">
			<option >hihihi</option>
			<option >hellll</option>
			<option >부분hihihi시공</option>
		</select>
		<div class="search-button select-button">검색</div>

	</div>

	<div class="estimate-house">
		<div class="estimate-img" style="background-image: url('/img/img-house.jpg')">
			<div class="estimate-circle">
				<div id="promise">약속!</div>
				<div id="promises" >불안, 걱정 그만! 집닥이 함께합니다.</div>
			</div>
			<div class="estimate-promise-desc">
				<ul>
					<li>
						<div class="promise-desc-circle">1</div>
						<div class="promise-desc-text">
							<div class="desc-text1">집닥맨의 안심 감리 서비스</div>
							<div class="desc-text2">현장 방문을 통해 진행 상황을 확인</div>
						</div>
					</li>
					<li>
						<div class="promise-desc-circle">2</div>
						<div class="promise-desc-text">
							<div class="desc-text1">에스크로 서비스</div>
							<div class="desc-text2">시공 단계별로 안전하게 공사대금 지급</div>
						</div>
					</li>
					<li>
						<div class="promise-desc-circle">3</div>
						<div class="promise-desc-text">
							<div class="desc-text1">무이자 할부 서비스</div>
							<div class="desc-text2">인테리어 비용 12개월 무이자 할부 혜택 제공</div>
						</div>
					</li>
					<li>
						<div class="promise-desc-circle">4</div>
						<div class="promise-desc-text">
							<div class="desc-text1">엄격한 파트너스선정</div>
							<div class="desc-text2">철저한 검증과 선별을 통해 믿을 수 있는 파트너스 선정</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="estimate-now">
				<div class="now-title">
					<ul>
						<li>
							<div class="title-text">오늘의 견적</div>
							<div class="now-num">43</div>
						</li>
						<li>
							<div class="title-text">총 견적</div>
							<div class="now-num">17859</div>
						</li>
						<li>
							<div class="title-text">진행/완료 견적</div>
							<div class="now-num">14795</div>
						</li>
					</ul>
					<div class="time-table">
						<div class="now-continue">
							<div id="continue-text">지금도 계속 무료견적 신청중~</div>
							<div id="continue-button">더보기 &gt;</div>
						</div>
						<div class="now-list">
							<ul>
								<li>
									<div>집</div>
									<div class="now-addr">경기도 광명시 어라니얼미ㅏㅇ널미ㅏㅓ라ㅣ멍라ㅣㅇㄴㄹ</div>
									<div class="now-size">32평</div>
									<div class="now-spec">주택</div>
									<div class="now-date">01.05</div>
								</li>
								<li>
									<div>집</div>
									<div class="now-addr">경기도 광명시 어라니얼미ㅏㅇ널미ㅏㅓ라ㅣ멍라ㅣㅇㄴㄹ</div>
									<div class="now-size">32평</div>
									<div class="now-spec">주택</div>
									<div class="now-date">01.05</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="watch-out">
		<div class="watch">
			<div class="watch-list list1">
				<div class="watch-icon watch-icon1"><i class="fa fa-hand-peace-o"></i></div>
				<div class="watch-text">
					<div class="watch-title">고객님이 만족할만할때 까지</div>
					<div class="watch-more">보러가기 &gt;</div>
				</div>
			</div>
			<div class="watch-list list2">
				<div class="watch-icon watch-icon2"><i class="fa fa-cubes" ></i></div>
				<div class="watch-text">
					<div class="watch-title">고객님이 만족할만할때 까지</div>
					<div class="watch-more">보러가기 &gt;</div>
				</div>
			</div>
			<div class="watch-list list3">
				<div class="watch-icon watch-icon3"><i class="fa fa-tty" ></i></div>
				<div class="watch-text">
					<div class="watch-title">고객님이 만족할만할때 까지</div>
					<div class="watch-more">보러가기 &gt;</div>
				</div>
			</div>
			<div class="watch-list list4">
				<div class="watch-icon watch-icon4"><i class="fa fa-user-secret" ></i></div>
				<div class="watch-text">
					<div class="watch-title">고객님이 만족할만할때 까지</div>
					<div class="watch-more">보러가기 &gt;</div>
				</div>
			</div>
		</div>
	</div>
	<div class="construction-wrapper">
		<div class="construction">
			<div class="con-title">
				<div class="con-text">이달의 베스트 시공사례</div>
				<div class="con-more">더보기 &gt;</div>
			</div>

			<div class="con-best-wrapper">
				<div class="arrows">
					<div class="arrow-left arrow">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="arrow-right arrow">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>

				<div class="common-list">
					<ul>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">sdfsdfsdfsddsfsdf평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">bnmbnmbnmbnmbnmbnmbnmbnm평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">yutyikyulkjljkljkldsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">개하하하하하하하ㅏ핳 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="select-type-wrapper">
		<div class="select-type">
			<ul>
				<li  class="label-all checked">
					<i class="fa fa-circle" ></i>
					<div class="label-checker checked" style="background-image: url('img/checker.png')"></div>
					<div class="radio-css" id="type-all" >전체보기</div>
				</li>
				<li  class="label-apart" >
					<i class="fa fa-circle" ></i>
					<div class="label-checker" style="background-image: url('img/checker.png')"></div>
					<div class="radio-css" id="type-apart" >아파트</div>

				</li>
				<li  class="label-villa">
					<i class="fa fa-circle" ></i>
					<div class="label-checker" style="background-image: url('img/checker.png')"></div>
					<div class="radio-css" id="type-villa" >빌라</div>

				</li>
				<li  class="label-cafe">
					<i class="fa fa-circle" ></i>
					<div class="label-checker" style="background-image: url('img/checker.png')"></div>
					<div class="radio-css" id="type-cafe" >카페/식당</div>

				</li>
				<li class="label-office">
					<i class="fa fa-circle" ></i>
					<div class="label-checker" style="background-image: url('img/checker.png')"></div>
					<div class="radio-css" id="type-office" >사무실</div>

				</li>
			</ul>
		</div>
	</div>
	<div class="portfolio-wrapper">
		<div class="portfolio">
			<div class="portfolio-all">
				<div class="common-list">
					<ul>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">sdfsdfsdfsddsfsdf평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">bnmbnmbnmbnmbnmbnmbnmbnm평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">yutyikyulkjljkljkldsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">

								</div>
								<div class="list-text">

									<div class="list-title overflow-text">개하하하하하하하ㅏ핳 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>
						<li>
							<div class="list-form">
								<div class="list-img" style="background-image: url('/img/list_1.jpg')">
								</div>
								<div class="list-text">
									<div class="list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>

									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>

								</div>
								<div class="list-favor">
									<div class="fa fa-heart-o" ></div><div class="favor-num">8</div>

								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="portfolio-apart"></div>
			<div class="portfolio-villa"></div>
			<div class="portfolio-cafe"></div>
			<div class="portfolio-office"></div>


		</div>
	</div>


	<div></div>

</div>



{{> footer jsName='main'}}
