<footer>
	<div class="footer-reward">
		<ul>
			<li>
				<div class="reward-img" style="background-image: url('/img/img_footer_circle_01.png')"></div>
				<div class="reward-text">
					<div class="reward-title">압도적인 시공수</div>
					<div class="reward-details">1만명의 고객님이 인정한 집닥</div>
				</div>

			</li>
			<li>
				<div class="reward-img" style="background-image: url('/img/img_footer_circle_02.png')"></div>
				<div class="reward-text">
					<div class="reward-title">고객만족 서비스</div>
					<div class="reward-details">고객님의 불만사항을 회피하지 않습니다</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('/img/img_footer_circle_03.png')"></div>
				<div class="reward-text">
					<div class="reward-title">체계적인 파트너 관리</div>
					<div class="reward-details">집닥의 파트너스는 일반 시공업체와 다릅니다</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('/img/img_footer_circle_04.png')"></div>
				<div class="reward-text">
					<div class="reward-title">국내 대표	</div>
					<div class="reward-details">2016 소비자 만족 지수 인테리어 부분 1위</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('/img/img_footer_circle_05.png')"></div>
				<div class="reward-text">
					<div class="reward-title">고객 맞춤 시스템</div>
					<div class="reward-details">집닥맨 감리, 에스크로, 무이자 할부 혜택 제공닥</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="footer-company">

		<ul class="company-text">
			<li>상호명 : 집닥 주식회사</li>
			<li>서비스명 : 인테리어할 땐 ‘집닥(ZipDoc)’</li>
			<li>대표 : 박성민</li>
			<li>사업자등록번호 : 793-81-00149</li>
			<li>법인등록번호 : 110111-5788661</li>
			<li>통신판매번호 : 2015-서울금천-0875호</li>
			<li>기업부설연구소 : 서울시 금천구 벚꽃로 234 에이스하이엔드타워6차 215-6호</li>
			<li>주소 : 서울시 관악구 낙성대로15길 56-39 서울대연구공원 SKT연구동 상생혁신센터 U1호(낙성대동)</li>
			<li>팩스 : 02-6274-1130</li>
			<li>고객센터 : 전화 1600-3069 (10:00~24:00)</li>
			<li>이메일 : cs@zipdoc.kr</li>
			<li>제휴문의 : partnership@zipdoc.kr</li>
		</ul>
		<div class="company-img">
			<ul class="company-img-line-break">
				<li class="company-img-reward" style="background-image: url('/img/vc_img1.jpg')"></li>
				<li class="company-img-reward" style="background-image: url('/img/vc_img2.jpg')"></li>
				<li class="company-img-reward" style="background-image: url('/img/vc_img3.jpg')"></li>
				<li class="company-img-reward" style="background-image: url('/img/vc_img4.jpg')"></li>
				<li class="company-img-reward" style="background-image: url('/img/vc_img5.jpg')"></li>
			</ul>
			<div class="company-app company-img-line-break">
				<div class="company-app-text">'집닥' 어플을 다운받으면 서비스를 좀 더 편리하게 이용할 수 있습니다.</div>
				<ul>
					<li class="company-img-apple" style="background-image: url('/img/img_appstore.png')"></li>
					<li class="company-img-google" style="background-image: url('/img/img_googleplay.png')"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		<ul>
			<li>Copyright © ZIPDOC</li>
			<li>개인정보취급방침</li>
			<li class="copyright-img" style="background-image: url('/img/img_copyright_logo.png')"></li>
			<li>이용약관</li>
		</ul>


	</div>
</footer>






</footer>
<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
