<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/{{cssName}}.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<div class="zd-container">
		<header>
			<div class="header-info">
				<div class="header-info-list">
					<ul>
						<li>로그인</li>
						<li>회원가입</li>
						<li>고객센터</li>
						<li>파트너스문의</li>
					</ul>
				</div>
				<div class="header-info-title">
					<ul>
						<li class="header-info-text">
							인테리어다 통한다!
						</li>
						<li class="header-info-logo" style="background-image: url('img/img_zipdoc_logo.png')">

						</li>
					</ul>
					<div class="header-info-phone">
						<i class="fa fa-phone"></i>
						&nbsp;8598-4321
					</div>
				</div>
			</div>
			<div class="header-menu">
				<ul>
					<li>
						주거공간
					</li>
					<li>
						상업공간
					</li>
					<li>
						부분시공
					</li>
					<li>
						집닥만의혜택
					</li>
					<li>
						인테리어후기
					</li>
					<li>
						집닥파트너
					</li>
					<li>
						집닥매거진
					</li>
					<li>
						견적상담
					</li>
				</ul>

			</div>
			<div class="header-details">
				<ul>
					<li>
						<ul class="header-detail-residence">
							<li>
								아파트
							</li>
							<li>
								빌라
							</li>
							<li>
								주택
							</li>
							<li>
								원룸
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-commerce">
							<li>
								사무실
							</li>
							<li>
								상가/매장
							</li>
							<li>
								카페/식당
							</li>
							<li>
								학원/교육
							</li>
							<li>
								숙박/병원
							</li>
							<li>
								간판
							</li>
							<li>
								기타공간
							</li>

						</ul>
					</li>
					<li>
						<ul class="header-detail-part">
							<li>
								집닥키친
							</li>
							<li>
								도배/장판
							</li>
							<li>
								욕실
							</li>
							<li>
								수납가구
							</li>
							<li>
								기타
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-benefit">
							<li>
								집닥맨
							</li>
							<li>
								에스크로
							</li>
							<li>
								무이자 할부 서비스
							</li>
							<li>
								공동구매
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-review">
							<li>
								집닥후기
							</li>
							<li>
								집닥맨후기
							</li>
							<li>
								인테리어 피해사례
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-partners">
							<li>
								파트너스 소개
							</li>
							<li>
								파트너스 랭킹
							</li>
							<li>
								파트너스 찾기
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-magazine">
							<li>
								인테리어 팁
							</li>
							<li>
								집닥소식
							</li>
							<li>
								집닥이벤트
							</li>
							<li>
								집닥이용가이드
							</li>
						</ul>
					</li>
					<li>
						<ul class="header-detail-consulting">
							<li>
								상세경정상담
							</li>
							<li>
								견적신청현황
							</li>
							<li>
								현의확인서현황
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="header-details-bar">

			</div>

		</header>
